<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- title -->
    <ion-title (click)="goToBackdoor()">
      EchoTimer
    </ion-title>
    <!-- settings button -->
    <ion-buttons slot="end">
      <ion-button (click)="showSettings()">
        <ion-icon name="settings-outline"></ion-icon>      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="appContainer">

    <div class="timeContainer">

      <!-- TIMER -->
      <div class="time">{{timerService.time}}</div>

      <!-- TIME LIST -->
      <div class="timeListContainer">
        <div class="timesList left">
          <div class="timesText">
            Start
          </div>
          <div *ngFor="let time of timerService.timeList.start" class="timesText">
            {{time | date : 'HH:mm'}}
          </div>
        </div>
        
        <div class="timesList">
          <div class="timesText">
            Stop
          </div>
          <div *ngFor="let time of timerService.timeList.stop" class="timesText">
              {{time | date : 'HH:mm'}}
          </div>
        </div>

        <div class="timesList">
          <div class="timesText">
            Partial
          </div>
          <div *ngFor="let time of timerService.timeList.diff" class="timesText">
              {{time}}
          </div>
        </div>
      </div>
    </div>

    <!-- start/stop fab button -->
    <div class="fabContainer">
      <ion-fab>
        <ion-fab-button class="timerFab" (click)="OnFabTimerClick()">
          <div class="timerFabTxt">{{_startStopTxt}}</div>
        </ion-fab-button>
      </ion-fab>
    </div>
      
    <!-- reset button -->
    <div class="resetButtonContainer">
      <ion-button expand="full" color="danger" (click)="Reset()">Reset</ion-button>
    </div>

    <ion-button expand="full" color="danger" (click)="SaveStatus()">Save Status</ion-button>

  </div>
    
</ion-content>
  