
.settingsContainer{

    // background-color: rgb(20, 20, 20);
    background-color: var(--ion-item-background, var(--ion-background-color, #fff));

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    
    .buttonsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ion-buttons{
            width: 100%;
            ion-button{
                width: 50%;
                min-height: 3rem;
            }
        }
    }


    .addAlarmContainer {
        min-height: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        ion-item {
            width: 100%;
            --inner-padding-end: 0px;
            --padding-start: 0px;
        }
        ion-buttons{
            width: 100%;
            ion-button{
                width: 100%;
                min-height: 3rem;
            }
        }
    }

    .alarm {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 1px 6px;
    }

    .pickerClassName {
        color: greenyellow;
        background-color: honeydew;
    }

}